#insignia{
    color: red;
    animation-name: insignia;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes insignia{
    0% { opacity: 0; } 
    100% { opacity: 1; }
}

#flecha{
    color: greenyellow;
    animation-name: flecha;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-direction: reverse;
    animation-delay: 4s;
    position: absolute;
    left: 250px;
}

@keyframes flecha{
    from{color: greenyellow; top: 50px;}
    to{color: blue; top: 250px;}
}

.cuadros{
    background-color: aqua;
    width: 200px;
    height: 200px;
    float: left;
    margin: 10px;
}

#uno, #tres{
    background-color: black;
    color: white;
    position: relative;
    top: 0px;
    animation-name: mover;
    animation-duration: 5s;
    animation-iteration-count: infinite;

}

@keyframes mover{
    25%{ top: 200px; left: 0px;}
    50%{ left: 210px; }
    75%{ top: 0px; }
    100%{ left: 0px ;}
}

#dos, #cuatro{
    position: relative;
    animation-name: mover, flecha;
    animation-duration: 5s, 6s;
    animation-iteration-count: infinite, infinite;
    animation-delay: 0s, 5s;
}

ul li{
    display: inline;
    padding: 10px;
    background-color: blueviolet;
    color: white;
    cursor: pointer;
}

ul li:hover{
    /* animation: menu 5s 5s 0s infinite; */
    animation-name: menu;
    animation-duration: 0.1s;
    box-shadow: 5px 5px 5px black;
}

@keyframes menu {
    0%{
        padding: 10px;
        background-color: blueviolet;
        color: white;
    }
    50%{ 
        padding: 15px;
        background-color: rgba(120, 17, 218, 0.473);
        color: black;
    }
    100%{
        padding: 10px;
        background-color: blueviolet;
        color: white;
    }        
}